.start {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
    user-select: none;
   

    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, 50%);
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.hidden {
    display: none;
}

.visible {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    user-select: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgb(109, 209, 196);
}

.restart {
    user-select: none;
    text-decoration: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: rgb(109, 209, 196);
    color: black;
    border: 2px solid rgb(109, 209, 196);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.mainMeny {
    user-select: none;
    text-decoration: none;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    border-radius: 12px;

    background-color: white;
    color: black;
    border: 2px solid white;

    font-family: Arial, Helvetica, sans-serif;
}

